{{!-- navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark " style="border-bottom: 1px solid rgba(46,62,72,.12)">
    <a class="navbar-brand" href="/">Not Gamespot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/saved">Saved Articles</a>
        <a class="nav-item nav-link" href="/scrape">Scrape</a>
        </div>
    </div>
</nav>
{{!-- jumbotron --}}
<div class="jumbotron jumbotron-fluid jumboimg" style="margin-bottom:0;">
    <h1 class="text-light text-center title">Gaming News</h1>
</div>

{{!-- articles --}}
<section class="article-box">
    <div class="container">
        <h1 class="row-title">Saved Articles</h1> 
        <hr>
        {{#each article}}
            <div class="container">
            <article class="row">

                <h2>{{title}}</h2>
                <div class="row">
                    <div class="col-4">
                        <img src="{{image}}" style="width:100%">
                    </div>
                    <div class="col-8">
                        <a href="https://www.gamespot.com{{link}}"> visit article here</a>
                        <p>{{summary}}</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#note-modal-{{id}}" data-id={{id}}>
                            Add Note
                        </button>
                        <button type="button" class="btn btn-danger delete-article" data-id={{id}}>
                            Delete Article
                        </button>
                    </div>
                </div>
            </article>
            </div>
            <br>
                    
            <!-- Modal -->
            <div class="modal fade text-dark" id="note-modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="note-modal-title-{{id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">

                        
                        <div class="modal-header">
                            <h2 class="modal-title " id="note-modal-title-{{id}}">Notes</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="container">
                            {{#each note}}
                            <p>{{body}}</p>
                            <button type="button" class="btn btn-danger btn-sm delete-note" data-id={{id}}>
                                Delete Note
                            </button>
                            {{/each}}
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="note-{{id}}">Note:</label>
                                <textarea class="form-control" rows="5" id="note-{{id}}"></textarea>
                                <br>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary add-note" data-id={{id}}>Save changes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</section>
